/*? global clearing */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    scroll-behavior: smooth;
    --warna1: #242424;
    --warna2: #f0f0f0;
}
.game{
    display: flex;
    width: 10px;
    gap: 1rem;
}
.item img {
    width: 100px;
}
.item h1 {
    font-size: 20px;
}
.listgame{
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    background: #c4e2ff;
}
.ppp1{
    color: #000000
}
.aww{
    background: #280041;
}
.aww h2{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 40px;
    padding: 5px 0;
    text-align: center;
}
.aww p{
    color: #ffffff;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
}
.game::-webkit-scrollbar{
    display: none;
}
.nav{
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav .logo{
    color: #242424;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navmenu{
    display: flex;
    list-style: none;
}
.navmenu li{
    height: 80px;
}
.navmenu li a{
    font-size: 18px;
    color: #242424;
    text-decoration: none;
    padding: 0px 16px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3 ease;
}
.navmenu li a:hover{
    background-color: #b8b8b8;
}
.nav-search input{
    font-size: 16px;
    padding: 7px 8px;
    border: none;
    border-radius: 4px;
}
.nav-toggle .bar img{
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px auto;
    
}
.nav-toggle{
    display: none;
    cursor: pointer;
    align-items: right;
}
.navbar{
    background-color: #fff;
}
.ulnav{
    background-color: #ffffff;
    display: flex;
    justify-content: right;
}
.linav{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    border: 1px solid #001b55;
    padding: 5px;
    margin: 5px;
    list-style: none;
    background-color: #1f283b;
    transition: background 0.5s;
}
.linav:hover{
    background: #e33058;
}
.logoimg{
    width: 1px;
    height: 1px;
}
.icon{
    width: 50px;
    height: 50px;
    align-items: left;
}
.container{
    background: #11001e;
}
.container button{
    align-items: center;
    color: #001b55;
}
.container ul{
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
.container1{
    width: 100%;
    min-height: 100vh;
    background:#11001e;
}
.container h1 {
    color: #070505;
    font-size: 40px;
    padding: 5px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
.container h2 {
    color: #ffffff;
    font-size: 40px;
    padding: 5px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
.container p {
    color: #fff;
    font-size: 10px;
    padding: 20px 0;
    text-align: center;
}
.container1 h3 {
    color: #fff;
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
}
.container1 h2 {
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
.container1 p {
    color: #fff;
    font-size: 20px;
    padding: 1px 0;
    text-align: center;
}
.host{
    color: #e60073;
    font-size: 20px;
    padding: 50px 0;
    text-align: center;
}

/* dropdown mata uang */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown button{
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    background-color: #dd00f1;
    border: 1px solid #b8b8b8;
    color: #b8b8b8;
    transition: background 0.5s;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #dd00f1;
    min-width: 100px;
    z-index: 1;
}
.dropdown-content button{
    background: none;
    border: none;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}
.dropdown-content button:hover{
    background-color: #001b55;
}
.dropdown.show .dropdown-content{
    display: block;
}
.dropdown button:hover{
    background:transparent ;
}
/* dropdown mata uang selesai */

/* dropdown kategori paket */
.dropdown2{
    position: relative;
    display: inline-block;
}
.dropdown2 button{
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    background-color: #dd00f1;
    border: 1px solid #b8b8b8;
    color: #b8b8b8;
    transition: background 0.5s;
}
.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #dd00f1;
    min-width: 150px;
    z-index: 1;
}
.dropdown-content2 button{
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}
.dropdown-content2 button:hover{
    background: #dd00f1;
}
.dropdown2.show .dropdown-content2{
    display: block;
}
.content{
    display: none;
}
.content.active{
    display: block;
}
.dropdown2 button:hover{
    background: transparent;
}
/* dropdown kategori paket selesai */
.card-a{
    left: -100%;
}
.card-a--show{
    display: inline;
}
.card{
    width: 90%;
    max-width: 1100px;
    padding: 10px 0 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    left: -100%;
}
.card-b{
    background: #280041;
    padding: 10% 5%;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    left: -100%;
}
.card-b p{
    font-size: 22px;
}
.card-b h3{
    font-size: 33px;
    margin: 20px 0 20px;
    font-weight: 500;
}
.card-b h3 span{
    font-size: 16px;
}
.card-b ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}
.card-b ul li{
    font-size: 15px;
    margin: 5px 5px 5px;
    display: flex;
    align-items: center;
}
.card-b ul li img{
    margin-right: 5px;
    text-align: left;
    width: 30px;
    height: 30px;
}
.card-b ul p span{
    margin: 0px;
}
.note li::before{
    content: '\2022';
    color: #ffffff;
    font-weight: bold;
    margin-right: 8px;
}
.note h2{
    font-size: 15px;
    margin: 5px 5px 5px;
    display: flex;
    align-items: center;
}
.note li{
    margin: 100px 5px 5px;
}
.note h2 img{
    margin-right: 5px;
    text-align: left;
    width: 30px;
    height: 30px;
}
.card-b button{
    width: 100%;
    padding: 14px 0;
    background: #dd00f1;
    color: #fff;
    font-size: 15px;
    border: 1px solid #b8b8b8;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}
.card-b button:hover{
    background: transparent;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper{
    max-height: 300px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.wrapper .item{
    min-width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #5c539d;
    margin: 1px 1px;
}
.card-b ul h2{
    color: #fff;
}
.footer{
    text-align: center;
}
.footer h5{
    color: #fff;
    background-color: #1f283b;
}

@media screen and (max-width: 960px) {
.nav{
    padding: 0px 20px;
}
.nav-toggle{
    display: block;
}
.navmenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    background-color: #ffffff;
    transition: all 0.5 ease;
}
.navmenu.active{
    left: 0;
}
.nav-toggle{
    width: 5%;
    height: 40%;
}
.aww p{
    font-size: 10px;
}
.container h1{
    font-size: 20px;
    padding: 0;
}
.container p{
    padding: 0;
}
.btnhost{
    align-items: center;
}
.card{
    width: 100%;
    padding: 10px 20px 10px;
}
.card-b{
    padding: 10px 10px 10px;
    margin: 10px 10px 10px;
}
.container h2{
    padding: 20px 0px 10px;
    color:#ffffff;
    text-align: center;
}
.container1 p{
    font-size: 10px;
    padding: 0px;
    text-align: center;
}
.container1 h3{
    font-size: 30px;
    padding: 5px 0 0px;
    background-color: #001b55;
}
.card-b h2{
    font-size: 19px;
}

}
